#game-frame {
  position: relative;
}

.bar-divider {
  width: 1px;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: auto;
}

.frame {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 922px;
  height: 532px;
  border: none;
  left: 0px;
  position: relative;
  z-index: 1;
}

.play-bg {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 922px;
  height: 532px;
  border: none;
  left: 0px;
  position: absolute;
  z-index: 2;
  filter: blur(10px);
}

.play-title,
.play-author,
.play-button {
  z-index: 3;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.play-title {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.play-author {
  font-size: 16px;
  text-align: center;
}

.play-button {
  text-align: center;
  align-items: center;
  width: 165.609px;
  height: 52px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.game-bar {
  width: 922px;
  height: 45px;
  display: flex;
  color: #fff;
  background-color: #c43131;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: -6px auto 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.game-index-title {
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
}

#right {
  display: flex;
  align-items: center;
}

.full,
.redir {
  border: none;
  background-color: transparent;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}
