#game-frame {
  position: relative;
}

.bar-divider {
  width: 1px;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: auto;
}

.frame {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 922px;
  height: 532px;
  border: none;
  left: 0px;
  position: relative;
  z-index: 1;
}

.game-bar {
  width: 922px;
  height: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #fff;
  background-color: #c43131;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: -6px auto 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.game-index-title {
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
}

#right {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
}

.full,
.redir {
  border: none;
  background-color: transparent;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}
