.bar-divider {
  width: 1px;
  height: auto;
  background-color: #000;
  opacity: 0.5;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.frame {
  width: 922px;
  height: 532px;
  border: none;
  right: 0px;
  bottom: 0px;
  top: 0px;
  left: 0px;
}

.game-bar {
  width: 922px;
  height: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-position-x: 50%;
  background-position-y: 0%;
  color: #fff;
  background-color: #1c1c1c;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.game-index-title {
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
}
