@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.cat-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.8em;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  color: #fff;
  position: relative;
}

.game-button {
  width: 200px;
  height: 100px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.game-button img {
  width: 200px;
  height: 130px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.game-button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background-color: #8c2b2b;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.game-button:hover::after {
  width: 200px;
  z-index: 2;
}

.game-title,
.game-author {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  z-index: 1;
}
